extends layout

block content
   // Main content
   section.content
    // Default box
    .box
     .box-body
      // checkbox
      style.
       /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

        .modal-dialog {
          max-height: 100%;
        },
        .modal-content {
          /* 80% of window height */
          height: 100%;
        }
        .modal-body {
          /* 100% = dialog height, 120px = header + footer 
          max-height: calc(100% - 120px);
          overflow-y: scroll;*/
        }

      .col-md-3
       .form-group
       // Rounded switch
       label Buzzer Alarm
       br
       label.switch
        input#relaystatus1(type='checkbox' checked=data_relay.buzzer)
        span.slider.round
       br

       label Vibration Sensor
       br
       label.switch
        input#vibration_checkbox(type='checkbox' checked=data_relay.vibration)
        span.slider.round
       br

       label Start Realtime GPS
       br
       label.switch
        input#statusgps(type='checkbox' checked=data_relay.realtime_gps)
        span.slider.round
       br

       label Cut Off Ignition
       br
       label.switch
        input#relaystatus2(type='checkbox' checked=data_relay.ignition_off)
        span.slider.round
       br

       label Turn On Ignition
       br
       label.switch
        input#relaystatus3(type='checkbox' checked=data_relay.ignition_on)
        span.slider.round
       br
       br

       label Starting Up
       br
       label.switch
        input#relaystatus4(type='checkbox' checked=false)
        span.slider.round
       br

       label Take Picture
       br
       input#takePicture.btn.btn-success(type="button", value="Take a picture")
       br
       label#fotoMessage
      .col-md-9(style="margin-top:20px")
       img#gambar_kendaraan(src='https://rmvts.jagopesan.com/images/motor.jpg', style="border-radius: 10px; width:500px; height:380px;")
   
   #modal-success.modal.modal-success.fade
    .modal-dialog
     .modal-content
      .modal-header
       button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
       h4.modal-title Snap Capture
      .modal-body
       img.img-responsive.img-thumbnail#the_image
      .modal-footer
       button.btn.btn-outline(type='button', data-dismiss='modal') Close
     // /.box-footer
    // /.box
   // /.content

   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
   script(src='https://rmvts.jagopesan.com/socket.io/socket.io.js')
   //script(src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
   //script(src='http://localhost:3000/socket.io/socket.io.js')
   script.
    var d = new Date();
    var current_time = d.getDate()+"-"+d.getMonth()+"-"+d.getFullYear()+"_"+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
    var sc = io.connect('https://rmvts.jagopesan.com/');
    //var sc = io.connect('http://localhost:3000/');
    var relay1 = document.getElementById('relaystatus1');
    var relay2 = document.getElementById('relaystatus2');
    var relay3 = document.getElementById('relaystatus3');
    var relay4 = document.getElementById('relaystatus4');
    var vibration_checkbox = document.getElementById('vibration_checkbox');
    var gps = document.getElementById('statusgps');
    var btnAmbilFoto = document.getElementById('takePicture');
    var pesanFoto = document.getElementById('fotoMessage');
    var link_image= !{JSON.stringify(last_driver_photos)};
    var btn_popup = document.getElementById("gambar_kendaraan");
    document.getElementById("gambar_kendaraan").src = link_image;

    $(function(){
     $('#gambar_kendaraan').click(function(){
      $('#the_image').attr('src', link_image);
      $('#modal-success').modal('show');
     })
    });

    btnAmbilFoto.addEventListener('click', ()=>{
      this.sc.emit('ambilfoto', {msg: current_time});
      pesanFoto.innerHTML = current_time+" Please Wait...";
    });

    gps.addEventListener('change', ()=>{
     if(gps.checked){
      sc.emit('activate_realtime_gps', {msg: true});
     }
     else{
      sc.emit('activate_realtime_gps', {msg: false});
     }
    });


    vibration_checkbox.addEventListener('change', ()=>{
     if(vibration_checkbox.checked){
      sc.emit('vibration', {msg: true});
     }
     else{
      sc.emit('vibration', {msg: false});
     }
    });


    relay1.addEventListener('change', ()=>{
     if(relay1.checked){
      sc.emit('relay1', {msg: true});
     }
     else{
      sc.emit('relay1', {msg: false});
     }
    });

    relay2.addEventListener('change', ()=>{
     if(relay2.checked){
      sc.emit('relay2', {msg: true});
     }
     else{
      sc.emit('relay2', {msg: false});
     }
    });


    relay3.addEventListener('change', ()=>{
     if(relay3.checked){
      sc.emit('relay3', {msg: true});
     }
     else{
      sc.emit('relay3', {msg: false});
     }
    });

    if(relay3.checked){
      relay4.addEventListener('change', ()=>{
      if(relay4.checked){
        sc.emit('relay4_web', {msg: true});
      }
      else{
        sc.emit('relay4_web', {msg: false});
      }
      });
    }

    sc.on('vibration', (data)=>{
     if(data.msg){
      vibration_checkbox.checked = true;
     }
     else{
      vibration_checkbox.checked = false;
     }
    });


    sc.on('activate_realtime_gps', (data)=>{
     if(data.msg){
      gps.checked = true;
     }
     else{
      gps.checked = false;
     }
    });

    sc.on('relay1', (data)=>{
     if(data.msg){
      relay1.checked = true;
     }
     else{
      relay1.checked = false;
     }
    });

    sc.on('relay2', (data)=>{
     if(data.msg){
      relay2.checked = true;
     }
     else{
      relay2.checked = false;
     }
    });


    sc.on('relay3', (data)=>{
     if(data.msg){
      relay3.checked = true;
     }
     else{
      relay3.checked = false;
     }
    });

    sc.on('relay4_web', (data)=>{
     if(data.msg){
      relay4.checked = true;
     }
     else{
      relay4.checked = false;
     }
    });

    sc.on('relay4_web_reply', (data)=>{
     if(data.msg){
      relay4.checked = false;
     }
    });

    sc.on('ambilfoto', (data)=>{
     console.log(data.msg);
     pesanFoto.innerHTML = data.msg.toUpperCase()+" success..";
    });

    sc.on('refresh_foto', (data)=>{
     if(data.msg){
       window.location.reload(true);
     }
    });