extends layout

block content
  .row
    .col-md-6(style='padding:20px')
      label.btn.btn-primary
        img#foto_profile.img-thumbnail(src='https://rmvts.herokuapp.com/images/motor.jpg', style="border-radius: 0px; width:500px; height:380px;")
    .col-md-6(style='padding:20px')
      .panel.panel-primary
        .panel-heading
            h3.panel-title User Profile
        |         
        .panel-body
            table
                tbody
                    tr
                    td Owner
                    |                         
                    td(style="margin-left:10px; margin-right:10px;") :
                    |                         
                    td#owner_row
                    |                       
                    tr
                    td Email
                    |                         
                    td(style="margin-left:10px; margin-right:10px;") :
                    |                         
                    td#email_row
                    |                       
                    tr
                    td Address
                    |                         
                    td(style="margin-left:10px; margin-right:10px;") :
                    |                         
                    td#address_row
                    tr
                    td Plate Number
                    |                         
                    td(style="margin-left:10px; margin-right:10px;") :
                    |                         
                    td#plate_number_row
                      tr
                    td Vehicle Type
                    |                         
                    td(style="margin-left:10px; margin-right:10px;") :
                    |                         
                    td#vahicle_type_row

      .panel.panel-primary
        .panel-heading
            h3.panel-title Device Information
        |         
        .panel-body
            table
                tbody
                    tr
                    td Device ID
                    |                         
                    td(style="margin-left:10px; margin-right:10px;") :
                    |                         
                    td#device_id_row
                    |                                          

      script.
        // Save data email and username in localstorage
        if (typeof(Storage) !== "undefined") {
          var owner    = !{JSON.stringify(owner)};
          var email    = !{JSON.stringify(email)};
          var address  = !{JSON.stringify(address)};  
          var foto_user= !{JSON.stringify(foto_profile)};          
          var plate_number  = !{JSON.stringify(plate_number)};  
          var vehicle_type  = !{JSON.stringify(vehicle_type)};  
          var device_id     = !{JSON.stringify(device_id)};

          document.getElementById("foto_profile").src    = foto_user;
          document.getElementById("owner_row").innerHTML = owner;
          document.getElementById("email_row").innerHTML = email;
          document.getElementById("address_row").innerHTML = address;
          document.getElementById("plate_number_row").innerHTML = plate_number;
          document.getElementById("vahicle_type_row").innerHTML = vehicle_type;
          document.getElementById("device_id_row").innerHTML    = device_id;

        }